<html>
    <head>
        <title>Node Stipe Connect</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    </head>
    <body class='container'>
        <div class='align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm text-center'>
            <a class="text-decoration-none" href="/"><h5 class='my-0 mr-md-auto font-weight-normal text-dark'>Node Stripe Connect</h5></a>
        </div>
        {{#if error}}
            <div class='alert alert-danger text-center' role='alert'>
                {{error}}
            </div>
        {{/if}}
        {{{body}}}
    </body>
</html>
